<html>
  <head>
    <title>Page Potin</title>
  </head>
  <body>
    <h1>Voici la page du potin n°<%= id %></h1> <!-- Utilisation de la variable id passée depuis le controller -->
    <p>Son auteur : <%= gossip.author %></p>
    <p>Le contenu du potin : <%= gossip.content %></p>
    <a href="/">Retour à la page des potins</a> 
  </body>
</html>